.ads2
{
    height:auto;
    width:100%;
    background-color:white;
    margin-top: 5px;
}
.adsimg2
{
    margin-top:10px;
    margin-bottom:10px;
}
.adsimg2 img
{
    height:180px;
    width:100%;
}